<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <h4>(MSRBIII 1125)</h4>
    <table class="table table-striped">
      <tr> <td>Before</td> <td>Welcoming words from Allison Ashley-Koch</td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to the Unix Shell</td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td>Introduction to R and R Markdown</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2</h3>
    <h4>(GSRB1 4002 - <em>Note location change!!</em>)</h4>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Data Manipulation and Organization in R</td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td>Introduce student committees by co-chairs</td> </tr>
      <tr> <td>12:50</td>  <td>Data Visualization in R</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 3</h3>
    <h4>(GSRB1 4002)</h4>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Group Project</td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td>Group Project Presentation</td> </tr>
      <tr> <td>13:45</td>  <td>Resources</td> </tr>
      <!-- <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr> -->
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
