<div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-shell">Introduction to the Unix command line</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li>Materials: <a href="https://duke-gcb.github.io/shell-genomics/data/shell_data.zip">shell_data.zip</a></li>
      <li>Slides: <a href="https://duke.box.com/s/ogj6m6k40sss7dsf5vblfvuglyg7ciwt">Intro to Unix Command Line</a></li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 id="syllabus-r">Introduction to R and Rmd</h3>
    <!-- ############## Krista, please edit below! ############## (remove this comment once done if you want)-->
    <ul>
      <li>Data types and variables</li>
      <li>Loops and conditionals</li>
      <li>Dictionaries and lists</li>
      <li>Creating and using functions</li>
      <li>Working with files</li>
      <li>Using Python from the command line</li>
      <li>Materials: <a href="https://github.com/Duke-GCB/scicomp-python/releases/download/2017-11/python-fasta.zip">python-fasta.zip</a></li>
      <li>Slides: <a href="https://docs.google.com/presentation/d/10qIr-T6uytZhDWsiGtoLx4vhYWjDD0k268rYyLIQyqg/edit?usp=sharing">Python Programming Intro</a></li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 id="syllabus-exploration">Data exploration and cleanup</h3>
    <!-- ############## RP & Natalie, please edit below! ############## (remove this comment once done if you want)-->
    <ul>
      <li>Explore and understand data using R</li>
      <li>Data wrangling with <a href="https://www.tidyverse.org/">Tidyverse</a></li>
      <li>Best practices for cleaning data</li>
      <li>Data summarization</li>
      <li><a href="https://github.com/rpornmon/2024upggBootcamp-dataExploreInR.git">Lesson materials</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-automation">Data visualization</h3>
    <!-- ############## Kayla & Gabe, please edit below! ############## (remove this comment once done if you want)-->
    <ul>
      <li>Defensive programming</li>
      <li>Opening and reading files</li>
      <li>Scripts</li>
      <li>Automation</li>
      <li>Materials: <a
  href="https://github.com/Duke-GCB/scicomp-python/releases/download/2023-08-24/defense_automation.zip">Dataset File_TO_BE_FIXED</a></li>
      <li><a href="https://github.com/rpornmon/2024-08-21-upgg-bootcamp/blob/gh-pages/files/UPGG%20Bootcamp%20Data%20Viz.pptx">Lesson overview</a></li>
      <li><a href="https://github.com/Duke-GCB/scicomp-python/blob/e38040f31744f257c312b40e42503fd5ab181c2f/automation_python_instructor.ipynb">Fill In the Blank Markdown</a></li>
    </ul>
  </div>
  
  <div class="col-md-4">
    <h3 id="syllabus-organization">Group Project</h3>
    <!-- ############## Angela & Raven, please edit below! ############## (remove this comment once done if you want)-->
    <ul>
      <li>Project structure best practices</li>
      <li>File naming best practices</li>
      <li>Metadata best practices</li>
      <li>READMEs</li>
      <li>Cardinal rules for modifying data</li>
      <li>Materials: <a href="https://reproducible-science-curriculum.github.io/organization-RR-Jupyter/setup/">Lesson setup</a></li>
      <li><a
  href="https://reproducible-science-curriculum.github.io/organization-RR-Jupyter/">Lesson overview</a></li> 
      <li><a
  href="https://github.com/jemilianosf/upgg_bootcamp_data_organization_planning/blob/main/20230825_upgg_bootcamp_data_organization.md">Lesson notes</a></li>
    </ul>
  </div>
  
  <div class="col-md-4">
    <h3 id="syllabus-git">Resources</h3>
     <!-- ############## Raven, please edit below! ############## (remove this comment once done if you want)-->
    <ul>
      <li>Slides: <a href="https://docs.google.com/presentation/d/1D1CjbNCv63n7fFk3x4dHvxaHxz8N0BhHZr2wtk9G4I0/edit?usp=sharing">UPGG Informatics Orientation Bootcamp: Resources</a></li>
    </ul>
  </div>
  </div>
