<div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-shell">Introduction to UNIX+Data/Project Organization</h3>
    <ul>
      <li>Intro to Shell</li>
      <li>Navigating Files and Directories</li>
      <li>Writing Scripts and Working with Data</li>
      <li>Project Organization</li>
      <li>Exercise Instructions</li>
      <li>Slides: <a href="https://duke.box.com/s/c1uafglmd50g6k7kypihwnw2kevt9662">PDF Link</a></li>
    </ul>
  </div>

  
  <div class="col-md-4">
    <h3 id="syllabus-r">Introduction to R and Rmd</h3>
    <ul>
      <li> R and R studio</li>
      <li>Base R </li>
      <li>R Markdown (RMD)</li>
      <li>Installing Packages</li>
      <li>Citations in RMD</li>
      <li>Building an Introduction </li>
      <li><a href="https://github.com/rpornmon/2024-08-21-upgg-bootcamp/blob/gh-pages/files/UPGG-Bootcamp.html">Example HTML for exercise</a></li>
      <li><a href="https://bio723-class.github.io/Bio723-book/getting-started-with-r.html">Additional resource</a></li>
    </ul>
  </div>

    
  <div class="col-md-4">
    <h3 id="syllabus-exploration">Data exploration and cleanup</h3>
    <ul>
      <li>Explore and understand data using R</li>
      <li>Data wrangling with <a href="https://www.tidyverse.org/">Tidyverse</a></li>
      <li>Best practices for cleaning data</li>
      <li>Data summarization</li>
      <li><a href="https://github.com/rpornmon/2024upggBootcamp-dataExploreInR/raw/main/code_scripts/2024UpggBootcamp_workbook.Rmd">Rmd workbook</a></li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-automation">Data visualization</h3>
    <!-- ############## Kayla & Gabe, please edit below! ############## (remove this comment once done if you want)-->
       <!--  ### REMOVE HERE NIGHT BEFORE BOOTCAMP
    <ul>
      <li>Defensive programming</li>
      <li>Opening and reading files</li>
      <li>Scripts</li>
      <li>Automation</li>
      <li>Materials: <a href="https://github.com/Duke-GCB/scicomp-python/releases/download/2023-08-24/defense_automation.zip">Dataset File_TO_BE_FIXED</a></li>
      <li><a href="https://github.com/rpornmon/2024-08-21-upgg-bootcamp/blob/gh-pages/files/UPGG%20Bootcamp%20Data%20Viz.pptx">Lesson overview</a></li>
      <li><a href="https://github.com/Duke-GCB/scicomp-python/blob/e38040f31744f257c312b40e42503fd5ab181c2f/automation_python_instructor.ipynb">Fill In the Blank Markdown</a></li>
    </ul>
    ### REMOVE HERE NIGHT BEFORE BOOTCAMP  --> 
  </div>

  
  <div class="col-md-4">
    <h3 id="syllabus-organization">Group Project</h3>
    <ul>
      <li>Example: <a href="https://duke.box.com/s/mg9622e98uldlznw0bxtllvhr8hquw1c">RMD</a></li>
      <li>Example: <a href="https://duke.box.com/s/v2ol838ozgycqi7gyb6pfuwyybfr2wc2">HTML</a></li>
      <li>Slides: <a href="https://duke.box.com/s/g586keqpmebstdu669h4nzjlfjgoiboq">PPTX Link</a></li>
    </ul>
  </div>

  
  <div class="col-md-4">
    <h3 id="syllabus-git">Resources</h3>
     <!-- ############## Raven, please edit below! ############## (remove this comment once done if you want)-->
       <!--  ### REMOVE HERE NIGHT BEFORE BOOTCAMP
    <ul>
      <li>Slides: <a href="https://docs.google.com/presentation/d/1D1CjbNCv63n7fFk3x4dHvxaHxz8N0BhHZr2wtk9G4I0/edit?usp=sharing">UPGG Informatics Orientation Bootcamp: Resources</a></li>
    </ul>
    ### REMOVE HERE NIGHT BEFORE BOOTCAMP  --> 
  </div>
  </div>

